@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300;1,400&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap');

body{
    background-image: linear-gradient(
        rgb(160, 155, 86),
        rgb(60, 39, 10)
        );
    height: 100vh;  
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;

}

#below-cover{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

#button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button{
    font-size: 1.5em;
}

.button-navigate{
    font-size: 2em;
}

.button-biggest{
    font-size: 3em;
}