#container{

    display: flex;
    flex-direction:row-reverse;
    flex-wrap:wrap-reverse;

    background-color: gray;
    height: 400px;
    color: white;
}    

.cx1{
    background-color: red;
}

.cx2{
    background-color: blue;
}

.cx3{
    background-color: green;   
}

.rect{
    width: 200px;
    height: 150px;
    
}