.container{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;

    height: 600px;
    background-color: rgb(70, 69, 69);
    color: white;
}

.c1{
    background-color: red;
}

.c2{
    background-color: blue;
}

.c3{
    background-color: green;
}

.rect{
    width: 250px;
    height: 250px;
}