.box{
    position: relative;
    width: 200px ;
    height: 200px;
    border-style: solid ;

    animation: move 3s linear 0s 1 normal forwards;
    
}

@keyframes move {
    0% {left: 0px;}
    100% {left:300px;}
}

.div1{
    animation-timing-function: linear;
}

.div2{
    animation-timing-function: ease;
}

.div3{
    animation-timing-function: ease-in;
}

.div4{
    animation-timing-function: ease-out;
}

.div5{
    animation-timing-function: ease-in-out;
}




/*@keyframes mudcolor{
    0%{
        background-color: blue; width: 300px;
    }

    25%{
        background-color: blueviolet;
    }

    50%{ background-color: red; width: 700px;
    }

    100%{
        background-color: rgb(185, 250, 21); width: 300px;
    } 

} */