.container{
    height: 400px;
    width: 80%;
    background-color: gray;
    color: white;

    display: flex;
    flex-direction: row-reverse;
}
.r1{
    background-color: red;
}
.r2{
    background-color: blue;
}
.r3{
    background-color: green;
}

.rect{
    width: 100px;
    height: 100px;
}