@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300;1,400&family=Poppins:wght@300&display=swap');

:root{
    --color-light-50:#f8fafc;

    --color-dark-50:#797984;
    --color-dark-100:#312d37;
    --color-dark-900:#000;

    --color-purple-50:#7c3aed;
    --color-purple-100:#a855f7;
    --color-purple-200:#bf46ef;

    --color-gradient: linear-gradient(90deg, var(--color-purple-50), var(--color-purple-100), var(--color-purple-200) )
}

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;



    height:100vh ;
    width: 100%;
    background: var(--color-gradient);
}



#login_form{
    background: var(--color-light-50);
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, .336);
    animation:dark-to-light 0.3s ease-in-out ;
}



#form_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#form_header h1{
    font-size: 40px;
    position: relative;
}
#form_header h1::before{
    position: absolute;
    content: '';
    width: 40%;
    background-color: var(--color-purple-50);
    height: 3px;
    bottom: 10px;
    border-radius: 5px;
}

#social_media{
    display: flex;
    justify-content: space-around;
}

#mode_icon{
    cursor: pointer;
    font-size: 18px;
}

#social_media  img{
    width: 35px;
}

#social_media  img:hover{
    transform: scale(1.2);
}

#inputs{
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-box label{
    font-size: 14px;
    color: var(--color-dark-50);
}

.input-field{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor:text;
    border-bottom: 1px solid var(--color-purple-50);
}

.input-field i{
    font-size: 18px;
    color: var(--color-dark-900);
}

.input-field input{
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 1.2rem;
    padding: 0px 5px;
}
.input-field input:focus{
    outline:none ;
}

#forgot_password a{
    text-decoration: none;
    font-size:1.3rem ;
    color: var(--color-dark-50);
}

#forgot_password a:hover{color: var(--color-purple-100);}

#login-button{
    border: none;
    background: var(--color-gradient);
    color: var(--color-light-50);
    padding: 5px;
    border-radius: 9px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}
#login-button:hover{transform: scale(1.03);}

.dark#login_form{
    color: var(--color-light-50);
    background-color: var(--color-dark-100);
    animation:light-to-dark 0.3s ease-in-out ;
}

.dark#login_form .input-field input,
.dark#login_form .input-field i{
    color:var(--color-light-50) ;
}

@keyframes dark-to-light{
    0%{background-color:var(--color-dark-100) ;}
    100%{background-color: var(--color-light-50);}
}

@keyframes light-to-dark{
    0%{background-color: var(--color-light-50);}
    100%{background-color:var(--color-dark-100) ;}
}
