.btn{
    display: inline-block;
    padding: 20px;
    background-color: rgb(42, 74, 66);
    color: white;
    font-size: 30px;


    transition-property: background-color, padding;
    transition-duration: 500ms;
    transition-delay: 100ms;
    transition-timing-function: ease-in-out;
}

.btn:hover{
    background-color: rgb(7, 7, 123);
    padding-left: 40px;
    padding-right:40px ;
}