#container{
    color: white;
    display: grid;
    padding: 10px;
    background-color: gray;

    /*grid-template-rows: ;
    grid-template-columns: ; */

    grid-template: 100px 150px 10% / 100px auto;
}

.r1{
    background-color: red;
}

.r2{
    background-color: blue;
}

.r3{
    background-color: green;
}

.rect{

}