.box{
    width: 250px;
    height: 200px;
    border-style: solid;
    animation-name: changecolor;
    animation-duration: 6s;
}


@keyframes changecolor {

    0%{background-color: blue;}
    25%{background-color: blueviolet;}
    50%{background-color: pink;}
    100%{background-color: cyan;}    

}